.container, .result-container {
    border: 2px solid black;
    width: 450px;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.container div {
    margin-bottom: 1rem;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}